<mat-toolbar color="primary" class="toolbar">
  <mat-form-field appearance="fill" class="search-field mt-2">
    <mat-label>Search by User ID</mat-label>
    <input
      matInput
      [(ngModel)]="searchTerm"
      (keyup)="onSearch()"
      placeholder="Enter user ID"
      aria-label="Search by User ID"
    />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</mat-toolbar>

<mat-progress-spinner *ngIf="loading$ | async" mode="indeterminate" class="spinner">
  <mat-icon>hourglass_empty</mat-icon>
  <div class="spinner-text">Loading...</div>
</mat-progress-spinner>

<router-outlet></router-outlet>
